$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

$background-color: #4e4e4e;
$font-color: 69bfea;
$white: #fff;

.nav, .navbar-brand, .container-fluid {
  background-color: #69bfea;
  height:auto;
}
#bs-example-navbar-collapse-1 {
  background-color: #69bfea;
}

.sign-up, .sign-in, .sign-out {
  float: left;
}

h1 {
  text-align: center;
  text-transform:uppercase;
}

body {
  background-color: $background-color;
  color: $font-color;
}

.container {
  align-items: center;
}

.box {
  align-content: center;
  border: 1px solid $white;
  height: 200px;
  width: 200px;
}

.row {
  align-items: center;
}

.button {
  align-content: center;
  border: 1px solid $white;
  height: 175px;
  width: 175px;
}

/*#sign-up-modal, #sign-in-modal {
  background-color: $background-color;
}
*/

#boardpiece1, #boardpiece2, #boardpiece3, #boardpiece4, #boardpiece5,
#boardpiece6, #boardpiece7, #boardpiece8, #boardpiece9 {
  height: 150px;
  width: 150px;
  align-items: center;
  background-color: #9a5a5a;
  font-size: 150px;
  align-content:center;
  align-items: center;
}
