$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/';

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: bottom;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

td {
  width: 15%;
  height: 15%;
  border: 0px solid #546363;
  border-right-width: 6px;
  border-bottom-width: 6px;
  text-align: center;
  font-size: 80px;
  cursor: crosshair;
  position: relative;
}

td:nth-child(3) {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

$background-color: #4e4e4e;
$font-color: 69bfea;
$white: #fff;

.nav, .navbar-brand, .container-fluid {
  background-color: #69bfea;
  height:auto;
}
#bs-example-navbar-collapse-1 {
  background-color: #69bfea;
}

.sign-up, .sign-in, .sign-out {
  float: left;
}

h1 {
  text-align: center;
  text-transform:uppercase;
  color: white;
}

body {
  background-color: $background-color;
  color: $font-color;
}

.container {
  align-items: center;
}

.box {
  align-content: center;
  border: 1px solid $white;
  height: 200px;
  width: 200px;
}

.row {
  align-items: center;
}

.button {
  align-content: center;
  border: 1px solid $white;
  height: 175px;
  width: 175px;
}

.btn btn-primary {
  background-color: yellow;
}

.boardpiece {
  height: 20px;
  width: 20px;

}
